{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.Title }} - {{ movie.Year }} - {{ movie.Country }} - {{ movie.Genre }} - {{ movie.Date }}
 	<span class="float-right">
	    <a class="douban" href="https://movie.douban.com/subject_search?search_text={{movie.Title }}" target="_blank" title="Find this movie on douban">豆瓣</a>   </li>
    {% endfor %}
</ul>
<img alt="TV" class="TV" src="{{ url_for('static', filename='images/TV.gif') }}" title="bilibili~tv">
{% endblock %}